
*{
    font-family: system-ui, sans-serif;
    margin:0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.5;
    
    background: #fff;
}
a{
    color:#000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color:#999;
}
a.active,a.active:visited{
    color:#000;
    font-weight: bold;
}

.page{
    width:100%;
    min-height: 100%;
}
.page-content{
    max-width: 60rem;
    margin:auto;
}
.page-actions{
    display: flex;
    margin-bottom: 1rem;
}

.navigation{
    padding:0 0.5rem;
    display: flex;
    position: fixed;
    height:3rem;
    align-items: center;
    left:0;
    top:0;
    right:0;
    z-index: 9;
}
.navigation a{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right:1rem;
}

@media (max-width: 72rem) { 
    .navigation{
       
        background: #fff;
    }
}

.feed-item-count{
    color:#000;
    position: fixed;
    right:0;
    top:0;
    height:3rem;
    padding:0.5rem;
    display: flex;
    align-items: center;
    z-index: 10;
    font-size: 0.8rem;
}
.feed-item-list{
    padding-top:3rem;
}
.feed-item-list-empty{
    width:100%;
    height:100%;
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    color:#ccc;
    min-height: 50vh;
    font-size: 3rem;
    font-weight: bold;
}
.feed-item{
    padding:0.25rem 0 0.25rem 0;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #ddd;
    padding:0.5rem;
    background:#fff;
}
.feed-item .title{
    flex:1;
}
.feed-item .comments{
    font-size: 0.8rem;
    color:#999;
}
.feed-item .time{
    font-size: 0.8rem;
    color:#999;
}
.feed-item-content{
    flex:1;
    display: flex;
    flex-direction: column;
}
.feed-item-meta{
    display: flex;
}
.feed-item-meta > *{
    padding-right: 0.5rem;
}
.feed-item-actions{
    display: flex;
 
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.button{
   padding:0.5rem;
   border-radius: 3px;
   background:#fff;
   color:#000;
   border:1px solid #333;
   -webkit-appearance: none;
   appearance: none; 
   cursor: pointer;
}
.button:visited{
    color:#000;
}
.button:hover{
    background:#ddd;

    text-decoration: none;
}
.feed-item .source{
    color:#999;
    font-size: 0.8rem;
}

.feed-source{
    padding:0.25rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #ddd;
}

.form-actions{
    display: flex;
    align-items: center;
}
.form-actions > *{
    margin-right: 1rem;

}
.form-input{
    display: flex;
    flex:1;
    align-items: center;
}

.form-input-label{
    min-width: 5rem;
}
.form-input-error{
    color:#C00;
    font-size: 0.8rem;
    padding-left:0.5rem;
}
.form-input > input{
    padding:0.5rem;
    border:1px solid #333;
    border-radius: 0.25rem;
}
.form-input.form-input-wide > input{
    min-width: 10rem;
}