:root {
	--text: #202124;
	--meta: #999;
	--background: #fff;
	--border: #ddd;
	--error: #900;
	--border-dark: #333;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #c9d1d9;
		--meta: #8c949e;
		--background-light: rgba(13, 17, 22, 1);
		--background: #020408;
		--border: #30363d;
		--error: #900;
		--border-dark: #666;
	}
}

* {
	font-family: system-ui, sans-serif;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
html,
body {
	line-height: 1.5;
	background: var(--background);
}
a {
	color: var(--text);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.active {
	color: var(--text);
	font-weight: bold;
}

.page {
	width: 100%;
	min-height: 100%;
}
.page-content {
	max-width: 60rem;
	margin: auto;
	padding-top: 3rem;
}
.page-actions {
	display: flex;
	margin-bottom: 1rem;
}

.navigation {
	padding: 0 0.5rem;
	display: flex;
	position: fixed;
	height: 3rem;
	align-items: center;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9;
}

.navigation a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
}

@media (max-width: 72rem) {
	.navigation {
		background: var(--background);
	}
}

.feed-item-count {
	color: var(--text);
	position: fixed;
	right: 0;
	top: 0;
	height: 3rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	z-index: 10;
	font-size: 0.8rem;
}
.feed-actions {
	padding: 0.5rem 0.5rem 1rem 0.5rem;
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 70rem) {
	.navigation {
		background: var(--background);
	}
}
@media (max-width: 90rem) {
	.feed-item-next {
		position: fixed;
		display: flex;
		right: 0;
		padding: 1rem;
		top: 3rem;
		bottom: 0;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 65rem) {
	.feed-actions {
		display: none;
	}
}
.feed-item-list-empty {
	width: 100%;
	height: 100%;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	color: var(--border);
	min-height: 50vh;
	font-size: 3rem;
	font-weight: bold;
}
.feed-item-list {
	margin-top: 2rem;
}
.feed-item-list.open .feed-items,
.feed-item-list.open .feed-group-header {
	border-left: 1px solid var(--border);
}
.feed-item-list.open .feed-item:last-child {
	margin-bottom: 0;
}
.feed-item-list.open .feed-group-header:last-child {
	border-bottom: 1px solid var(--border);
}
.feed-group-header {
	color: var(--text);
	background-color: var(--background);
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.5rem 0.5rem;
	border-top: 1px solid var(--border);
}
.feed-item-list.open .feed-group-header {
	background-color: var(--background-light);
}
.feed-group-unread-count {
	font-weight: 300;
}
.feed-item {
	padding: 0.25rem 0 0.25rem 0;
	margin-bottom: 0.5rem;

	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--border);
	padding: 0.5rem;
	background: var(--background);
}
.feed-item .title {
	flex: 1;
	font-weight: 500;
}
.feed-item a:visited {
	color: var(--meta);
}
.feed-item .comments {
	font-size: 0.8rem;
	color: var(--meta);
}
.feed-item .time {
	font-size: 0.8rem;
	color: var(--meta);
}
.feed-item-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.feed-item-meta {
	display: flex;
}
.feed-item-meta > * {
	padding-right: 0.5rem;
}
.feed-item-actions {
	display: flex;

	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
.button {
	padding: 0.5rem;
	border-radius: 3px;
	background: var(--background);
	color: var(--text);
	border: 1px solid var(--border-dark);
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}
.button:visited {
	color: var(--text);
}
.button:hover {
	background: var(--border);

	text-decoration: none;
}
.feed-item .source {
	color: var(--meta);
	font-size: 0.8rem;
}

.feed-source {
	padding: 0.25rem 0 1rem 0;
	border-bottom: 1px solid var(--border);
}
.feed-source-content {
	display: flex;
	justify-content: space-between;
}
.feed-source-meta {
	color: var(--meta);
	font-size: 0.8rem;
}

.feed-delivery {
	padding: 0.25rem 0 1rem 0;
	border-bottom: 1px solid var(--border);
}
.feed-delivery-content {
	display: flex;
	justify-content: space-between;
}
.feed-delivery-meta {
	color: var(--meta);
	font-size: 0.8rem;
}

.form-actions {
	display: flex;
	align-items: center;
	padding: 1rem 0;
}
.form-actions > * {
	margin-right: 1rem;
}
.form-input,
.form-checkbox {
	display: flex;
	flex: 1;
	align-items: center;
	margin-bottom: 1rem;
}

.form-input-label {
	min-width: 5rem;
	color: var(--text);
}
.form-input-error {
	color: var(--error);
	font-size: 0.8rem;
	padding-left: 0.5rem;
}
.form-input > input {
	display: inline-block;
	padding: 0.5rem;
	border: 1px solid var(--border-dark);
	border-radius: 0.25rem;
	color: var(--text);
	background: var(--background);
	border: 1px solid var(--border);
}
.form-input.form-input-wide > input {
	min-width: 25rem;
}
